#=================================
## Layers of cryostat body ##
#=================================
[CryostatInnerBath]
class                = duneggd.ArgonCube.Cryostat.Body.BodyBuilder
subbuilders          = ['DetectorBucket']
Material             = 'LAr'
tubrmin              = Q('0m') 
tubrmax              = Q('198cm')*0.5
tubdz                = Q('180cm')*0.5     
startphi             = Q('0deg')
deltaphi             = Q('360deg')
Rotation             = [Q('-90deg'), Q('0deg'), Q('0deg')]
#SubBPos              = [Q('0m'), Q('0m'), Q('0m')]
SubBPos              = [Q('0m'), Q('0m'), {CryostatInnerBath:tubdz} - {Bucket:G10Side_dimension}['dy'] - {Bucket:Gap_Flange}]
dishradius           = ({CryostatInnerBath:tubrmax})*2
knuckleradius        = {CryostatInnerBath:dishradius}*0.1
headradius           = {CryostatInnerBath:tubrmax}

[CryostatInnerWall]
class                = duneggd.ArgonCube.Cryostat.Body.BodyBuilder
subbuilders          = ['CryostatInnerBath']
Material             = 'SSteel304'
tubrmin              = Q('0m') 
tubrmax              = {CryostatInnerBath:tubrmax} + Q('1cm')
tubdz                = {CryostatInnerBath:tubdz}
startphi             = Q('0deg')
deltaphi             = Q('360deg')
SubBPos              = [Q('0m'), Q('0m'), Q('0m')]
dishradius           = ({CryostatInnerWall:tubrmax})*2
knuckleradius        = {CryostatInnerWall:dishradius}*0.1
headradius           = {CryostatInnerWall:tubrmax}

[CryostatInsulation]
class                = duneggd.ArgonCube.Cryostat.Body.BodyBuilder
subbuilders          = ['CryostatInnerWall']
Material             = 'NoGas'
tubrmin              = Q('0m') 
tubrmax              = Q('208cm')*0.5              
# Approx height of cryostat
tubdz                = Q('205cm')*0.5
startphi             = Q('0deg')
deltaphi             = Q('360deg')
SubBPos              = [Q('0m'), Q('0m'), {CryostatInsulation:tubdz}-{CryostatInnerWall:tubdz}]
dishradius           = ({CryostatInsulation:tubrmax})*2
knuckleradius        = {CryostatInsulation:dishradius}*0.1
headradius           = {CryostatInsulation:tubrmax}

[CryostatOuterWall]
class                = duneggd.ArgonCube.Cryostat.Body.BodyBuilder
subbuilders          = ['CryostatInsulation']
Material             = 'SSteel304'
tubrmin              = Q('0m') 
tubrmax              = {CryostatInsulation:tubrmax} + Q('1cm')
tubdz                = {CryostatInsulation:tubdz}
startphi             = Q('0deg')
deltaphi             = Q('360deg')
SubBPos              = [Q('0m'), Q('0m'), Q('0m')]
dishradius           = ({CryostatOuterWall:tubrmax})*2
knuckleradius        = {CryostatOuterWall:dishradius}*0.1
headradius           = {CryostatOuterWall:tubrmax}

[CryostatConnection]
class                = duneggd.ArgonCube.Cryostat.Feedthrough.FeedthroughBuilder
Material             = 'SSteel304'
rmin1                = Q('35mm') 
rmax1                = Q('137mm')
dz1                  = Q('50mm')*0.5
rmin2                = Q('75mm')
rmax2                = Q('78mm')
dz2                  = Q('150mm')*0.5

[CryostatInlet]
class                = duneggd.ArgonCube.Cryostat.Inlet.InletBuilder
Material             = 'SSteel304'
rmin1                = Q('11mm') 
rmax1                = Q('33mm')
dz1                  = Q('25mm')*0.5
rmin2                = Q('11mm')
rmax2                = Q('12mm')
dz2                  = Q('262mm')*0.5
shift                = Q('141mm')

#=================================
## Components on top flange
#=================================
[ModulePlate]
class                = duneggd.ArgonCube.Cryostat.ModulePlate.ModulePlateBuilder
Material             = 'SSteel304'
dx                   = Q('67cm')*0.5
dy                   = Q('67cm')*0.5
dz                   = {CryostatFlange:dz1} 
positions            = {ModuleTopContainer:positions}
subtractions         = [ {ModuleFeedthrough100:rmin2}, {ModuleFeedthrough63:rmin2}, {ModuleFeedthrough63:rmin2}, Q('18mm'), Q('8mm') ]               

[CryostatInsertionPlate]
class                = duneggd.Component.DoubleArrangePlane.DoubleArrangePlaneBuilder
subbuilders          = ['ModulePlate']
Material             = 'LAr'
dx                   = Q('670.000mm')
dy                   = Q('670.000mm')
dz                   = {ModulePlate:dz} 
NElements1           = 2
TranspV1             = [1,0,0]
NElements2           = 2
TranspV2             = [0,1,0]
Rotation1            = [Q('0.0deg'),Q('0.0deg'),Q('0.0deg')]
InsideGap1           = Q('0cm')
InsideGap2           = Q('0cm')
SubBDim              = [{ModulePlate:dx}, {ModulePlate:dy}, {ModulePlate:dz}]

[FlangeCryostatInsertionPlate]
class                   = duneggd.ArgonCube.FlangeCryostatInsertionPlate.FlangeCryostatInsertionPlateBuilder
FlangeTop_dimension     = {'dx':Q('670.000mm')/2,'dz':Q('670.000mm')/2,'dy':Q('0018.476mm')/2}
FlangeBtm_dimension     = {'dx':Q('659.364mm')/2,'dz':Q('659.364mm')/2,'dy':Q('0001.524mm')/2}

[ModuleCryostatInsertionPlate]
class                   = duneggd.ArgonCube.ModuleCryostatInsertionPlate.ModuleCryostatInsertionPlateBuilder
subbuilders             = ['FlangeCryostatInsertionPlate']

[DetectorCryostatInsertionPlate]
class                   = duneggd.ArgonCube.DetectorCryostatInsertionPlate.DetectorCryostatInsertionPlateBuilder
subbuilders             = ['ModuleCryostatInsertionPlate']
N_ModuleX               = 2
N_ModuleZ               = 2

[CryostatFlange]
class                = duneggd.ArgonCube.Cryostat.Flange.FlangeBuilder
Material             = 'SSteel304'
rmin1                = Q('0m') 
rmin2                = {CryostatOuterWall:tubrmax}
rmax                 = Q('220cm')*0.5
dz1                  = Q('2cm')*0.5
dz2                  = Q('10cm')
centersubt           = [{CryostatInsertionPlate:dx}, {CryostatInsertionPlate:dy}, 2*{CryostatInsertionPlate:dz} ]
positions            = {CryostatTop:positions}
ftsubtr              = [ {Feedthrough160:rmin2}, {Feedthrough100:rmin2} ]  

#=================================
## Top
## This container holds the 
## connectors on the top flange
## and feedthroughs
#=================================
[ModuleFeedthrough100]
class                = duneggd.ArgonCube.Cryostat.Feedthrough.FeedthroughBuilder
Material             = 'SSteel304'
rmin1                = Q('0m') 
rmax1                = Q('75mm')
dz1                  = Q('20mm')*0.5
rmin2                = Q('51mm')
rmax2                = Q('54mm')
dz2                  = Q('20mm')*0.5

[ModuleFeedthrough63]
class                = duneggd.ArgonCube.Cryostat.Feedthrough.FeedthroughBuilder
Material             = 'SSteel304'
rmin1                = Q('0m') 
rmax1                = Q('54mm')
dz1                  = Q('20mm')*0.5
rmin2                = Q('33mm')
rmax2                = Q('36mm')
dz2                  = Q('20mm')*0.5

[ModuleTopContainer]
class                = duneggd.ArgonCube.Cryostat.ModuleTop.ModuleTopBuilder
subbuilders          = ['ModuleFeedthrough63', 'ModuleFeedthrough100']
Material             = 'Air'
dx                   = {ModulePlate:dx} - {InnerConnector:dy}
dy                   = {ModulePlate:dy} - {InnerConnector:dy}
dz                   = {ModuleFeedthrough100:dz1} + {ModuleFeedthrough100:dz2}
positions            = [ [Q('0m'), Q('0m'), -1*({ModuleFeedthrough100:dz1})],
                         [Q('0m'), Q('20cm'), -1*({ModuleFeedthrough63:dz1})],
                         [Q('-20cm'), Q('0m'), -1*({ModuleFeedthrough63:dz1})],
                         [Q('0m'), Q('-20cm'), Q('0m')],
                         [Q('20cm'), Q('0m'), Q('0m')] ]

[ModuleFTs]
class                   = duneggd.ArgonCube.ModuleFTs.ModuleFTsBuilder
subbuilders             = ['Bucket','FlangeFTs','HVFeedThrough']
dx                   = {ModulePlate:dx} - {InnerConnector:dy}
dy                   = {ModulePlate:dy} - {InnerConnector:dy}

[Feedthrough160]
class                = duneggd.ArgonCube.Cryostat.Feedthrough.FeedthroughBuilder
Material             = 'SSteel304'
rmin1                = Q('0m') 
rmax1                = Q('101mm')
dz1                  = Q('20mm')*0.5
rmin2                = Q('75mm')
rmax2                = Q('78mm')
dz2                  = Q('145mm')*0.5

[Feedthrough100]
class                = duneggd.ArgonCube.Cryostat.Feedthrough.FeedthroughBuilder
Material             = 'SSteel304'
rmin1                = Q('0m') 
rmax1                = Q('75mm')
dz1                  = Q('20mm')*0.5
rmin2                = Q('51mm')
rmax2                = Q('54mm')
dz2                  = Q('115mm')*0.5

[LongConnector]
class                = duneggd.SubDetector.SimpleSubDetector.SimpleSubDetectorBuilder
Material             = 'SSteel304'
shape                = 'Box'
dx                   = Q('100mm')*0.5
dy                   = Q('1444mm')*0.5
dz                   = {InnerConnector:dz}

[InnerConnector]
class                = duneggd.SubDetector.SimpleSubDetector.SimpleSubDetectorBuilder
Material             = 'SSteel304'
shape                = 'Box'
dx                   = Q('572mm')*0.5
dy                   = Q('100mm')*0.5
dz                   = Q('20mm')*0.5

[CryostatTop]
class                = duneggd.ArgonCube.Cryostat.Top.TopBuilder
subbuilders          = ['LongConnector', 'InnerConnector', 'Feedthrough160', 'Feedthrough100', 'ModuleFTs']
Material             = 'Air'
rmin                 = Q('0m') 
rmax                 = {CryostatFlange:rmax}
dz                   = {FlangeFTs:TubeSide_dimension}['dz'] + {FlangeFTs:TubeSideFlange_dimension}['dz'] + {TPiece:TPieceFlange_dimension}['dz'] + {TPiece:TPiece_dz_v} + {FlangeFTs:TubeSideFlange_dimension}['dz']
shifts               = [ Q('672mm'), Q('336mm'), {LongConnector:dz} ]
positions            = [ [Q('840mm'), Q('-151mm'),  -1*({CryostatTop:dz}) + {Feedthrough160:dz2} ],
                         [Q('840mm'), Q('151mm'), -1*({CryostatTop:dz}) + {Feedthrough100:dz2} ],
                         [{InnerConnector:dy} + {ModuleTopContainer:dy}, {InnerConnector:dy} + {ModuleTopContainer:dy}, -1*({CryostatTop:dz}) + {FlangeFTs:TubeSide_dimension}['dz'] + {FlangeFTs:TubeSideFlange_dimension}['dz'] 
                        + {TPiece:TPieceFlange_dimension}['dz'] + {TPiece:TPiece_dz_v} + {FlangeFTs:TubeSideFlange_dimension}['dz']] ]

#=================================
## Legs
#=================================
[CryostatLeg]
class                = duneggd.ArgonCube.Cryostat.Leg.LegBuilder
Material             = 'SSteel304'
rmin                 = Q('0m')
rmax1                = Q('60mm')
rmax2                = Q('110mm')
dz1                  = Q('760mm')*0.5
dz2                  = Q('25mm')*0.5

[CryostatLegConnector]
class                = duneggd.SubDetector.SimpleSubDetector.SimpleSubDetectorBuilder
Material             = 'SSteel304'
shape                = 'Tubs'
rmin                 = Q('22mm')
rmax                 = Q('25mm')
# reduced to fix overlap (measure to be 1465mm)
dz                   = Q('1440mm')*0.5

#=================================
## Main component
#=================================
[ArgonCubeCryostat] 
class                = duneggd.ArgonCube.Cryostat.Container.ContainerBuilder
subbuilders          = ['CryostatTop', 'CryostatFlange', 'DetectorCryostatInsertionPlate', 'CryostatOuterWall', 'CryostatLeg', 'CryostatLegConnector', 'CryostatInlet', 'CryostatConnection']
Material             = 'Air'
rmin                 = Q('0m') 
# temporay fix
rmax                 = {CryostatOuterWall:tubrmax} + 2*({CryostatInlet:dz2}) + 2*({CryostatInlet:dz1}) + Q('10cm')
# dz is written so that the second constant gives the height of the top of the cryostat from the bottom of the legs.
dz                   = {CryostatTop:dz} + Q('131.5cm')
positions            = [ [Q('0m'), Q('0m'), {ArgonCubeCryostat:dz}-1*({CryostatTop:dz})],
                         [Q('0m'), Q('0m'), {ArgonCubeCryostat:dz}-2*({CryostatTop:dz})-{CryostatFlange:dz1}],
                         [Q('0m'), Q('0m'), {ArgonCubeCryostat:dz}-2*({CryostatTop:dz})-{CryostatFlange:dz1}],
                         [Q('0m'), Q('0m'), {ArgonCubeCryostat:dz}-2*({CryostatTop:dz})-2*({CryostatFlange:dz1})-{CryostatOuterWall:tubdz}] ]
connectionshifts     = [ {ArgonCubeCryostat:dz}-2*({CryostatTop:dz})-Q('766mm'), 
                         Q('30deg'), 
                         {CryostatOuterWall:tubrmax} + {CryostatConnection:dz2},
                         {ArgonCubeCryostat:dz} - 2*({CryostatTop:dz}) - Q('234.5cm')] # Constant was roughly measured from CAD
# placement has a slight gap                          
inletshifts          = [ {ArgonCubeCryostat:dz}-2*({CryostatTop:dz})-Q('86mm'),
                         [ Q('40deg'), Q('45deg'), Q('57deg'), Q('63deg') ],
                         {CryostatFlange:rmax} + {CryostatInlet:dz2} ]
legshift             = [ {CryostatOuterWall:tubrmax}+{CryostatLeg:rmax1}, -1*({ArgonCubeCryostat:dz})+{CryostatLeg:dz1}+2*({CryostatLeg:dz2}) ]
